In [1]:
print('hello world')

hello world

In [2]:
# to comment anything use: crtl + /

In [3]:
3+4

7

In [4]:
6-7

-1

In [5]:
price = 1000000
is_goodCredit = True
if is_goodCredit :
    down_payment = .1*price
else : 
    down_payment  = .2*price
print(down_payment)

100000.0

In [6]:
mylist=[1,2,3,4,5]
mylist.remove(2)
print(mylist)

[1, 3, 4, 5]

In [7]:
list = [3,5,2,4,10,43,54,756,23]
min = list[0]
for i in list:
    if min>i :
        min=i
print(min)

2

In [8]:
matrix =[[1,2,3],
         [4,5,6],
         [7,8,9]]
for row in matrix :
    for i in row :
        print(i)

1
2
3
4
5
6
7
8
9

In [9]:
matrix =[[1,2,3],
         [4,5,6],
         [7,8,9]]
for row in matrix :
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
num =[1,2,3,4,5,6,7,8,9,10,1,2,3]
for i in num :
    if num.count(i) >1 :
        num.remove(i)
print(num)

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [11]:
#list is mutable
list =[1,2,3] 
x,y,z =list
print(f'{x},{y},{z}' )
list.append(4)
print(list)

1,2,3
[1, 2, 3, 4]

In [12]:
#tuple is immutable
tuple =(1,2,3)
print(tuple)
print(tuple[0])

(1, 2, 3)
1

In [13]:
#bellow code dooes not work
# tuple.appappend(1)
# print(tuple)

In [14]:
customer ={
    "name" : "ved",
    "age" :21,
    "is_valid" : True 
}
print(customer.get("birth_date","Nov, 14 2000"))
print(customer.get("name"))
print(customer["name"])
customer["work"]="coder"
customer

Nov, 14 2000
ved
ved

{'name': 'ved', 'age': 21, 'is_valid': True, 'work': 'coder'}

In [15]:
msg = input(">")
list_of_words = msg.split(' ')
list_of_words

>vedant trivedi

['vedant', 'trivedi']

In [16]:
def greet_user(name):
    print("hi there!")
    print(f'this is {name}')

    
greet_user("ved")
greet_user("arjun")

hi there!
this is ved
hi there!
this is arjun

In [17]:
try:
    age = int(input('Age: '))
    print(age)
except ValueError:
    print("invalid value")

Age: 23
23

In [18]:
class Point:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def move(self):
        print("move")
        
    def draw(self):
        print("draw")
        
point1 = Point(10,20)
point1.draw()
print(point1.x)

draw
10

In [19]:
class Person:
    def __init__(self,name):
        self.name = name
    def talk(self):
        print(f'Hi! I am {self.name}')
 
person1 = Person("veant trivedi")
person1.talk()

person2 = Person("Arjun Vankani")
person2.talk()

Hi! I am veant trivedi
Hi! I am Arjun Vankani

In [20]:
class Mammal:
    def __init__(self):
        pass
    
    def walk(self):
        print("walk")

        
class Dog(Mammal):
    def bark(self):
        print("bark")
        
     
class Cat(Mammal):
    def mum(self):
        print("myau myau")

dog1 = Dog()
dog1.walk()
dog1.bark()

cat1 = Cat()
cat1.walk()
cat1.mum()

walk
bark
walk
myau myau

In [21]:
from converter import kg_to_lbs
from converter import lbs_to_kg
kg_to_lbs(100)

45.0

In [22]:
import random
for i in range(3):
    print(random.randint(10,20))

19
17
14

In [23]:
input("Enter your age? ")

Enter your age? 23

'23'

In [24]:
ved = '''
Hi Ved
 this is trivedi vedant 
 hope you are doing well

'''
print(ved)

Hi Ved
 this is trivedi vedant
 hope you are doing well

In [25]:
name= 'dsfdfgf fsdfd'
print(name[0:4])

dsfd

In [26]:
first= "ved"
last= "triv"
msg = f'{first} [{last}] is a coder'

In [27]:
msg

'ved [triv] is a coder'

In [28]:
print(ved.find('e'))

5

In [29]:
print(ved.find('E'))

-1

In [30]:
print(ved.replace("ve","ra"))

Hi Ved
 this is triradi radant
 hope you are doing well

In [31]:
print( "Ved" in ved)

True

In [32]:
print(len(ved))

59

In [33]:
print(ved.upper())

HI VED
 THIS IS TRIVEDI VEDANT
 HOPE YOU ARE DOING WELL

In [34]:
print(ved.title())

Hi Ved
 This Is Trivedi Vedant
 Hope You Are Doing Well

In [35]:
x=2.3
print(round(x))
y=-5.4
print(abs(y))

2
5.4

In [36]:
import math

In [37]:
print(math.ceil(2.3))
print(math.floor(2.8))

3
2

In [38]:


is_hot = False
is_cold = True
if bool(is_hot):
    print("hi")
elif bool(is_cold) :
    print("bye")
else:
    print("li")

bye

In [39]:
for i in range(5,14):
    if i%4==0 :
        print(i)

8
12

In [40]:
numbers = [3,6,2,12,4,10]
max=numbers[0]
for i in numbers:
    if i>max:
        max=i
print(max)

12

In [41]:
matrix_one = [[1,2,3],
               [4,5,6],
               [7,8,9]]
for row in matrix_one:
    print(row)
for row in matrix_one :
    for element in row:
        print(element)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

In [42]:
matrix_one[0]

[1, 2, 3]

In [43]:
list = [1,2,2,3,4,5,6,7,8,9,10]
list.append(11)

In [44]:
list

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [45]:
list.remove(3)

In [46]:
list

[1, 2, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [47]:
list.insert(2,3)
list

[1, 2, 3, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [48]:
print(list[-1])

11

In [49]:
list[2]="ved"

In [50]:
list

[1, 2, 'ved', 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [51]:
list.remove(1)

In [52]:
list

[2, 'ved', 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [53]:
list.remove("ved")

In [54]:
list.append(2)

In [55]:
list.sort()
list

[2, 2, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:
list.reverse()

# list are mulable tuple are imutable

### tuple=()
### list=[]
### set={}
### dconary={"key":value}

# list=[]

In [57]:
my_list = [2,3,1,4,2,5,6,3,6,3,6,7,10,43,765,34,2]
print(my_list.count(43))

1

In [58]:
# logic of remove duplicate in list
list = [2,2,4,3,5,3,4,1]
for i in list :
    if list.count(list[i])>1 :
        list.remove(list[i])
print(list)

[2, 5, 3, 4, 1]

## tuple=()

In [59]:
coordinator=(1,2,3)
x,y,z = coordinator

In [60]:
x

1

In [61]:
y

2

In [62]:
z

3

In [63]:
dict ={
    "name":"vedant",
    "age":23,
    "percentage_in_10th":85.16,
    "is_varified": True,
    "my_list" : [1,"ved",3.4,'a']
}
dict

{'name': 'vedant',
 'age': 23,
 'percentage_in_10th': 85.16,
 'is_varified': True,
 'my_list': [1, 'ved', 3.4, 'a']}

In [64]:
dict.get("name")

'vedant'

In [65]:
def addition(number1,number2):
    addition = number1 + number2
    print(addition)
    
addition(2,3)

5

In [66]:
class School:
    def __init__(self,ssc,hsc):
        self.hsc=hsc
        self.ssc=ssc
        
    def ssc_marks(self):
        print(self.ssc)
        
    def hsc_marks(self):
        print(self.hsc)
        
result = School(85.16,80.3)
result.ssc_marks()
result.hsc_marks()

85.16
80.3

In [67]:
for i in range(1,10):
    if(i%2==0):
        print(i)

2
4
6
8

In [68]:
for i in range(1,10):
    if(i%2==1):
        print(i)

1
3
5
7
9

In [69]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [70]:
for i in range(1,10,i+2):
    print(i)

1

In [71]:
list = [1,2,534,45,32543,43,32]
list.sort()

In [72]:
list

[1, 2, 32, 43, 45, 534, 32543]

<b>list -> mutable</b> <br/>
<b>tuple->immutable<b> <br/>
<b>set-> mutable,but duplication not allowed <b><br/>
<b>frozen set -> immutable<b><br/>
<b>dictionary -> immutable<b><br/>

In [73]:
list.append(2)

In [74]:
list

[1, 2, 32, 43, 45, 534, 32543, 2]

In [75]:
list.insert(5,342)

In [76]:
list

[1, 2, 32, 43, 45, 342, 534, 32543, 2]

In [77]:
tuple = (1,43,34,543,65,3)
tuple

(1, 43, 34, 543, 65, 3)

In [78]:
set = {1,3,4,5,3,5,2,6}
set

{1, 2, 3, 4, 5, 6}

In [79]:
set_1 = {2,3,4,5,8}
set_2 = set.union(set_1)
set_2
set.intersection(set_1)

{2, 3, 4, 5}

In [80]:
tuple = (43,43,645,432)

In [81]:
tuple

(43, 43, 645, 432)

In [82]:
import random
for i in range(10):
    print(random.randint(1,10))

4
7
2
8
6
4
7
1
1
6

In [83]:
list = ["ved","arjun","balas","kheni"]
leader = random.choice(list)
print(leader)

kheni

In [84]:
import random
class Dice:
    def roll(self):
        tuple = (random.randint(1,6),random.randint(1,6))
        print(tuple)
dice = Dice()
dice.roll()

(1, 2)

In [85]:
from pathlib import Path
path  = Path("ecommerace")
print(path.exists())
print(path.mkdir())

False
None

In [86]:
print(path.rmdir())

None

In [87]:
path  = Path()
for file in path.glob("*.py"):
    print(file)

converter.py
p1.py